@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #fffbf5;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 100vh;
    margin: 0;
}


h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 2%;
    color: rgb(48, 48, 48);

}

h2 {
    text-align: center;
    color: rgb(48, 48, 48);
}

.formulaire {
    border-radius: 5%;
    text-align: center;
    z-index: 8;
    margin: 2%;
}

.img-chat1 {
    width: 15%;
    position: relative;
    left: 30%;
    margin: 6%;
    transform-origin: center;
    animation: tiltCat 4s infinite ease-in-out;

    /* transition: transform 1s ease-in-out; */
}

.img-chat2 {
    width: 15%;
    position: relative;
    right: 30%;
    margin: 6%;
    transform-origin: center;
    animation: tiltCat 4s infinite ease-in-out;

    /* transition: transform 1s ease-in-out; */
}

/* .img-chat1:hover, .img-chat2:hover{
    transform: scale(2);
}



/* 
#text, section{
width: 40vw;
height: 30vh;
margin: auto;
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;
justify-self: center;
align-self: center;
    text-align: center;
    vertical-align: middle;
    
}
*/




.chats {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 20% 1fr 20%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;

}

h3 {
    grid-row: 1;
    grid-column: 1 / span 3;
    position: relative;
    top: 1vh;
    left: 2vw;
    width: 90vw;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    justify-self: left;
    color: rgb(70, 70, 70);
    text-transform: uppercase;
    margin: 2%;

}

.chats-visible {
    opacity: 1;
}

.form-invisible {
    opacity: 0;
    z-index: 0;
}



/*
.text{
text-align: center;
margin: auto;
z-index: 2;
width: 45%;
height: 30%;
position: absolute; 
top: 45%;
left: 39%; 



}*/

/*
.fact{

font-size: 1.8em;
justify-self: center;
align-self: center;
width: 50%; 

} */

form>button,
form>input {
    border: 2px solid #ffbbaa;
    padding: 1%;
    color: grey;
}

form>button {
    background-color: rgb(250, 250, 250);
}

::placeholder {
    color: grey;
}


.calqueTexte {
    grid-row: 2;
    grid-column: 2;
    height: 45vh;
    width: 60vw;
    background-color: #fffbf4;
    border: 20px solid #ffbbaa;
    border-radius: 10%;
    margin: auto;
    padding: 0;
}

.img-chat3 {
    width: 70%;
    position: relative;
    top: 77%;
    left: 40%;
}

.catAppear {
    animation: catAppear 10s ease-in-out infinite;
}





/* STYLE DU BOUTON NEW FACT */
.newFactButton {
    grid-row: 3;
    grid-column: 2;
    position: relative;
    bottom: 2em;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: inherit;
    font-family: 'Rubik', sans-serif;
    padding: 1.25em 2em;
    background: #ffe4de;
    border: 2px solid #ffbbaa;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.newFactButton:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff9a81;
    border-radius: 0.75em;
    box-shadow: 0 0 0 2px #ffc2b3;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.newFactButton:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

.newFactButton:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}


.fact,
.calqueTexte p {

    /* overflow-y: auto;
text-align: justify;
position: relative;
font-size: 1.8rem;
    top: 0;
    left: 0;
width: 25vw; 
height: 28vh;
margin: 0;
font-family: 'Mukta', sans-serif;
line-height: 1.2; */

    text-align: justify;
    margin: 20px;
    z-index: 20;
    font-size: 1.5rem;
    font-family: 'Mukta', sans-serif;

}


@keyframes tiltCat {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes catAppear {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0px);
    }
}




@media (max-width: 768px) {

    body {
        justify-content: space-evenly;
    }

    h1 {
        font-size: 5rem;
        margin-bottom: 10vh;
    }

    input {
        display: block;
        font-size: 1rem;
        font-weight: 10;
        margin: 2%;
        border: 1px solid #ffbbaa;
        justify-content: center;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    form>button {
        width: 20%;
        height: 15%;
    }

    .img-chat1 {
        width: 25%;
        left: 35%;
        margin-top: 15%;
    }

    .img-chat2 {
        width: 25%;
        right: 35%;
        margin-top: 15%;
    }


    .calqueTexte {
        height: 55vh;
        width: 65vw;
    }

    .fact,
    .calqueTexte p {
        font-size: 1.1rem;
    }

    h3 {
        left: 0;
        width: 80vw;
        text-align: center;
        justify-self: center;
        margin: 0;
    }

    .img-chat3 {
        width: 90%;
        top: 75%;
        left: 60%;
        transform-origin: center;
        animation: tiltCat 4s infinite ease-in-out;
    }
}

/*
.catAppear{

animation: catAppear 10s ease-in-out;

}

@keyframes tiltCat {
0%   {transform: rotate(0deg);}
25%  {transform: rotate(1deg);}
50%  {transform: rotate(0deg);}
75%  {transform: rotate(-1deg);}
100% {transform: rotate(0deg);}
}


@keyframes catAppear {
0%   {transform: translateY(0px);}
15%  {transform: translateY(-150px);}
30%  {transform: translateY(-150px);}
50%  {transform: translateY(-80px);}

100% {transform: translateY(0px);}
}

*/